nimcache/
nimblecache/
htmldocs/

src/wrapper/FFmpeg/
!src/wrapper/FFmpeg/libavformat/*.h
!src/wrapper/FFmpeg/libavutil/*.h

src/wrapper/create

examples/*
!examples/*.nim

.vscode/*

src/FFmpeg-master/
src/FFmpeg-release-6.1/

src/wrapperFuthark/create